#Ejercicio 01 Creacion array

Construir un array de 4 filas, con las siguientes caracteristicas:

a. La primera fila estara formada por los numeros 6,7,9,15,22,34

b. Los elementos de la segunda fila equivalen a la fila anterior multiplicada por 2

c. Los elementos de la tercera fila equivalen a la fila anterior menos 5

d. Los elementos de la cuarta fila son el cuadrado de la tercera fila


Â¿Cuantos elementos del array son pares?

In [2]:
import numpy as np

In [3]:
fila1 = [6,7,9,15,22,34]

In [4]:
fila2 = [2*x for x in fila1]

In [7]:
fila3 = [x-5 for x in fila2]

In [9]:
fila4 = [x**2 for x in fila3]

In [11]:
array = np.array([fila1,fila2,fila3,fila4])
array

array([[   6,    7,    9,   15,   22,   34],
       [  12,   14,   18,   30,   44,   68],
       [   7,    9,   13,   25,   39,   63],
       [  49,   81,  169,  625, 1521, 3969]])

In [13]:
pares = array[array%2==0]
pares

array([ 6, 22, 34, 12, 14, 18, 30, 44, 68])

In [14]:
pares.size

9